// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.service-container {

}

.service-controls {
    padding: 20px 10px;

    font-size: 14px;
    line-height: 22px;
}

.service-logs {
    background: #323232;
    color: #efefef;
    font-size: 14px;
}

